body {
    background-color: rgb(155, 220, 224);
}

img {
    width: 80%;
    height: 60%;
    background-size: contain;
    border: solid 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(32, 32, 63);
    padding: 50px;
    margin: 30px;
    justify-content: center;
    display: flex;
}

#caixa-flex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.column {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}